.footer--title {
  position: relative;
  margin: 0;
  padding-block: 275px;
  font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
  line-height: 96px;
  text-align: center;
  color: var(--shadow-color);
  text-shadow: 2px 2px var(--accent-color, #808080);
}

.footer--title::before {
  display: inline-block;
  position: absolute;
  margin: 0;
  padding: 0;
  content: '';
  inline-size: 25px;
  block-size: 25px;
  inset-block-start: 0;
  inset-inline-end: 0;
  border-block-start: 1px solid var(--accent-color);
  border-inline-end: 1px solid var(--accent-color);
}

.footer--title::after {
  display: inline-block;
  position: absolute;
  margin: 0;
  padding: 0;
  content: '';
  inline-size: 25px;
  block-size: 25px;
  inset-block-end: 0;
  inset-inline-start: 0;
  border-block-end: 1px solid var(--accent-color);
  border-inline-start: 1px solid var(--accent-color);
}

.page-light .footer--title {
  color: var(--accent-color);
  text-shadow: 2px 2px var(--shadow-color);
}

.page-light .footer--title::before,
.page-light .footer--title::after {
  border-color: var(--text-color);
}
